.btn-margin {
  margin: 7px 3px;
}
.btn {
  font-family: 'Questrial', sans-serif;
}

.btn {
  color: #333;
  /* background-color: #fff;
  border-color: #ccc; */
  border-color: transparent;
  transition: .1s ease;
  color: #f3f3f3;
  background: hsla(0,0%,100%,.3);
}

.btn:hover,
.btn:active {
  color: #333;
  background-color: lightgrey;
  /* border-color: slategrey; */
}

.bands {
  float: left;
}
.shows {
  float: left;
}

.navbar {
  padding: 0;
}

.navbar-default {
  opacity: 0.75;
  background: black;
  border: none;
}

.navbar > .container-fluid .navbar-brand {
  /* margin: 0; */
  margin-left: 20%;
}

.navbar-brand {
  position: absolute;
  left: 30%;
  /* font-family: 'Cookie', cursive; */
  font-family: 'Pacifico', cursive;
  font-size: 24px;  
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.nav-header {
  width: 100%
}


.profile {
  float: right;
}
.logout {
  float: right;
}

.login {
  float: right;
}
/* menuitem {
  position: unset;
  float: right;
}
.add {
  position: unset;
  float: right;
} */

.makeitwork {
  position: relative;
  right: 50%;
}

.add {
    /* position: absolute;
    right: 10.45%; */
    float: right;
    margin-top: 7px;
    margin-right: 3px;
} 

.add::before,
.add::after,
.btn::before,
.btn::after,
{
  border: none;
}

.arrow {
  visibility: hidden;
  display: none;
  margin: 0;
}

.popover {
  position: fixed;
  left: 80%;
  width: 200px;
  top: 50px;
  text-align: center;
  margin: 0;
}

/* .dropdown-menu,
.dropdown-menu::before,
.dropdown-menu::after {
  content: none;
  display: none;
} */

/* .popover {
  height: 100px;
  width: 100px;
  position: fixed;
  background: white;
  right: 10px;
  top: 0;
} */

/* .dropdown-menu {

  float: right;
} */